/* * { */
  /* margin:0; */
  /* box-sizing: border-box; */
/* } */
body,html {
    width: 1080px;
    height: 2000px;
    background-color: rgb(208, 208, 208);
}


.logotype img {
height: 25%;
width: 95%;
position: absolute;
margin-left: 22px;
margin-top: 25px;
animation: fadeIn ease 10s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.specialissue img {
height: 15%;
width: 25%;
position: absolute;
margin-left: 570px;
margin-top: 150px;
animation-name: floating;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating {
 from { transform: translate(0,  0px); }
 65%  { transform: translate(0, 15px); }
 to   { transform: translate(0, -0px); }

}

.issue_number {
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 700;
font-size: 10px;
color: black;
margin-left: 1250px;
margin-top: 20px;
}

.frame_1 img {
height: 15%;
width: 80%;
position: absolute;
margin-left: 195px;
margin-top: 5px;
}

.frame_2 img {
height: 560%;
width: 80%;
position: absolute;
margin-left: 195px;
margin-top: 200px;
transform: rotate(180deg);
}


.article1 img {
height: 20%;
width: 8%;
position: absolute;
margin-left: 245px;
margin-top: 200px;
}

.article1_image img {
height: 20%;
width: 10%;
position: absolute;
margin-left: 235px;
margin-top: 200px;
}

.article2 img {
height: 18%;
width: 9%;
position: absolute;
margin-left: 920px;
margin-top: 200px;
}

.article3 img {
height: 28%;
width: 15%;
position: absolute;
margin-left: 385px;
margin-top: 165px;
}

.article4 img {
height: 20%;
width: 10%;
position: absolute;
margin-left: 1125px;
margin-top: 200px;
}

.column1 {
border-left: 1px solid red;
position: absolute;
height: 4000px;
margin-top: 225px;
margin-left: 410px;
}

.column2 {
border-left: 1px solid red;
position: absolute;
height: 3950px;
margin-top: 285px;
margin-left: 620px;
}

.column3 {
border-left: 1px solid red;
position: absolute;
height: 3950px;
margin-top: 285px;
margin-left: 870px;
}

.column4 {
border-left: 1px solid red;
position: absolute;
height: 4000px;
margin-top: 225px;
margin-left: 1100px;
}

.article1_title {
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 700;
font-size: 25px;
line-height: 11px;
color: red;
text-align: left;
margin-left: 220px;
margin-top: 270px;
}

.article2_title {
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 700;
font-size: 25px;
line-height: 11px;
color: red;
text-align: left;
margin-left: 430px;
margin-top: 270px;
}

.article3_title {
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 700;
font-size: 25px;
line-height: 11px;
color: red;
text-align: left;
margin-left: 920px;
margin-top: 270px;
}

.article4_title {
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 700;
font-size: 25px;
line-height: 11px;
color: red;
text-align: left;
margin-left: 1150px;
margin-top: 270px;
}

.article2_text {
width: 180px;
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 400;
font-size: 12px;
line-height: 13.5px;
color: black;
text-align: left;
margin-left: 430px;
margin-top: 420px;
}

.article3_text {
width: 180px;
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 400;
font-size: 12px;
line-height: 13.5px;
color: black;
text-align: left;
margin-left: 895px;
margin-top: 420px;
}

.article4_text {
width: 180px;
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 400;
font-size: 12px;
line-height: 13.5px;
color: black;
text-align: left;
margin-left: 1130px;
margin-top: 405px;
}

.article1_text {
width: 180px;
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 400;
font-size: 12px;
line-height: 13.5px;
color: black;
text-align: left;
margin-left: 212px;
margin-top: 420px;
}

.gradient {
width: 248.5px;
height: 4000px;
position: absolute;
background: red;
box-shadow: 50px 50px 113px #defeec inset,-50px -50px 110px #defeec inset;
opacity: 0.15;
margin: 0 auto;
margin-top: 285px;
margin-left: 620.5px;
}

.course_text {
width: 210px;
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 400;
font-size: 12px;
line-height: 13.5px;
/* color:rgb(78, 252, 6); */
color: red;
text-align: left;
margin-left: 640px;
margin-top: 420px;
z-index: 1;
text-align: center;
}

.bonus_title {
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 700;
font-size: 25px;
line-height: 11px;
color: red;
text-align: left;
margin-left: 640px;
margin-top: 245px;
text-align: center;
}

.reading_gif img {
height: 5%;
width: 3.5%;
position: absolute;
margin-left: 1190px;
margin-top: 80px;
}

.publisherword {
width: 210px;
font-family: 'Space Mono', monospace;
position: absolute;
font-weight: 400;
font-size: 10px;
line-height: 13.5px;
color:rgb(78, 252, 6);
box-shadow: 50px 50px 113px #738179 inset,-50px -50px 110px #defeec inset;
text-align: left;
margin-left: 1115px;
margin-top: 55px;
z-index: 1;
text-align: center;
}

.rectangle {
border-left: 190px solid rgba(19, 6, 252);
position: absolute;
height: 4000px;
margin-top: 220px;
margin-left: -0.5px;
}

.new {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: center;
font-weight: 700;
font-size: 20px;
line-height: 10px;
color: rgba(19, 6, 252);
margin-left: 30px;
margin-top: 40px;
}

.arrowim img {
height: 100px;
width: 70px;
position: absolute;
margin-left: 55px;
margin-top: 95px;
animation-name: floating;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

.tip_one {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: left;
width: 100px;
font-weight: 700;
font-size: 15px;
line-height: 15.5px;
color:rgb(78, 252, 6);
margin-left: 80px;
margin-top: 285px;
}

.tip_two {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: left;
width: 100px;
font-weight: 700;
font-size: 15px;
line-height: 15.5px;
color:rgb(78, 252, 6);
margin-left: 80px;
margin-top: 450px;
}

.tip_three {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: left;
width: 150px;
font-weight: 700;
font-size: 30px;
line-height: 27px;
color:rgb(78, 252, 6);
margin-left: 27px;
margin-top: 580px;
}

.tip_four {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: left;
width: 100px;
font-weight: 700;
font-size: 30px;
line-height: 27px;
color:rgb(78, 252, 6);
margin-left: 35px;
margin-top: 750px;
}

.tip_five {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: left;
width: 100px;
font-weight: 700;
font-size: 15px;
line-height: 15.5px;
color:rgb(78, 252, 6);
margin-left: 80px;
margin-top: 1010px;
}

.tip_six {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: left;
width: 100px;
font-weight: 700;
font-size: 15px;
line-height: 15.5px;
color:rgb(78, 252, 6);
margin-left: 80px;
margin-top: 1160px;
}

.tip_seven {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: left;
width: 100px;
font-weight: 700;
font-size: 15px;
line-height: 15.5px;
color:rgb(78, 252, 6);
margin-left: 80px;
margin-top: 1325px;
}

.tips {
font-family: 'Space Mono', monospace;
position: absolute;
text-align: left;
width: 100px;
font-weight: 700;
font-size: 7.5px;
line-height: 95px;
color:rgb(78, 252, 6, 0.5);
margin-left: 65px;
margin-top: 1485px;
}

.tipimage1 img {
height: 3.3%;
width: 1.8%;
position: absolute;
margin-left: 65px;
margin-top: 253px;
}

.tipimage2 img {
height: 3.3%;
width: 1.8%;
position: absolute;
margin-left: 65px;
margin-top: 420px;
}

.tipimage5 img {
height: 3.3%;
width: 1.8%;
position: absolute;
margin-left: 65px;
margin-top: 975px;
}

.tipimage6 img {
height: 3.3%;
width: 1.8%;
position: absolute;
margin-left: 65px;
margin-top: 1125px;
}

.tipimage7 img {
height: 3.3%;
width: 1.8%;
position: absolute;
margin-left: 65px;
margin-top: 1290px;
}
